.headerSearchContainer h4{
  font-size: 16px;
}
.switchDirectoryView.active{
  background-color: #2C3E50;
  color: white !important;
}
.switchDirectoryView{
  color: #2C3E50;
}
.btn-add-to-directory{
    font-size: 14px;
    border-radius: 50%;
    color: #666;
    border: 1px solid rgba(188, 185, 185, 0.69);
    margin-right: 6px;
    padding: 4px 2px;
    width: 30px;
    position: absolute;
    top: -11px;
    left: 3px;
  }
  .img-logo {
    height: 290px;
  }
  .btn-filter-type{
    height:35px;
    border-bottom: 3px solid transparent;
  }
  .btn-filter-type.active{
    height:35px;
    border-bottom: 3px solid #383f4e;
  }
  .btn-filter-type:hover{
    height:35px;
    border-bottom: 3px solid #383f4e;
  }
  .btn-scope{
    display: inline;
  }
  .lbl-scope-list {
    top: 255px;
  }
  .btn-tag{
    font-weight:300;
    padding: 2px 7px 4px;
    background: #f3f3f3;
  }
  .btn-tag.bold{
    font-weight:600;
  }
  .container-result-search{
   /* moz-box-shadow: 0px 2px 4px -3px #656565;
    -webkit-box-shadow: 0px 2px 4px -3px #656565;
    -o-box-shadow: 0px 2px 4px -3px #656565;
    box-shadow: 0px -1px 4px -3px rgb(101, 101, 101);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);*/
    margin-top: 0px;
    right: 0px;
    left: 0px;
    padding-top: 15px;


  }
  .search-loader{
    margin-left:0px;
    float:left;
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 7px !important;
    padding-bottom: 30px !important;
  }
  #dropdown_search{
    /*margin-left:-15px !important;*/
   /* margin-left: -2% !important;
    width: 103%;*/
  }

  .dateUpdated {
    position: absolute;
    right: 15px;
    top: 0px;
    background: rgba(0,0,0,0.7);
    padding: 2px 8px;
    border-radius: 0px 0px 0px 7px;
    font-size: 12px;
    color: #E9E9E9;
    font-weight: 600;
  }


.searchEntity{
  margin-bottom:15px;
  margin-left:0px;
  min-height: 60px !important;
  float: left;
  width: 100%;
}
.searchEntity .entityLeft{
  text-align: right;
  padding-top: 20px;
  margin-right: 0%;
  padding-right: 0px;
}
.searchEntity .entityLeft .badge{
  margin:2px;
  margin-top:8px;
}


.searchEntity .banner .entityCenter{
  text-align: right;
  max-width: 100%;
  /*width: 100%;*/
  margin-top:-40px;
}
.searchEntity .profil .entityCenter {
    text-align: center;
    max-width: 115px;
    float: right;
    margin-top: -33px;
}
.searchEntity .entityCenter i.fa, 
.searchEntity .entityCenter img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  padding: 12px 10px;
}
.searchEntity .entityCenter img{
  padding: 3px;
}
.searchEntity .entityCenter i.fa.fa-calendar{
  font-size: 19px;
  padding: 12px;
}
.searchEntity .entityCenter i.fa.fa-user{
  font-size: 21px;
  padding: 12px 14px;
}
.searchEntity .entityCenter i.fa.fa-users{
  font-size: 17px;
  padding: 14px 13px;
}
.searchEntity .entityCenter i.fa.fa-university{
  font-size: 17px;
  padding: 13px 13px;
}
.searchEntity .entityCenter i.fa.fa-lightbulb-o{
  font-size: 21px;
  padding: 13px 16px;
}
.searchEntity .entityCenter i.fa.fa-gavel{
  font-size: 19px;
  padding: 13px 13px;
}
.searchEntity .entityCenter i.fa.fa-cogs{
  font-size: 18px;
  padding: 14px 12px;
}
.searchEntity .entityCenter i.fa.fa-info-circle{
  font-size: 18px;
  padding: 14px 12px;
}
.searchEntity .entityCenter i.fa.fa-circle-o{
  font-size: 18px;
  padding: 14px 14px;
}
.searchEntity .entityCenter i.fa.fa-industry{
  font-size: 18px;
  padding: 14px 12px;
}
.searchEntity .entityCenter i.fa.fa-bullhorn{
  font-size: 20px;
  padding: 12px 0px;
}
.searchEntity .entityCenter i.fa.fa-map-marker{
  font-size: 20px;
  padding: 12px 16px;
}
.searchEntity .entityCenter i.fa.fa-video-camera {
    font-size: 21px;
    padding: 12px 14px;
}
.searchEntity .entityCenter i.fa.fa-arrow-circle-right {
    font-size: 21px;
    padding: 11px 14px;
}
.searchEntity .entityRight{
  text-align: left;
}

.searchEntity.entityLight,
.searchEntity.entityLight:hover{
  box-shadow:none!important;
  background-color: transparent!important;
  /*padding-left:40px!important;*/
  margin-bottom:20px!important;
}


.searchEntity.entityLight .iconType{
  text-align: center!important;
}

.searchEntity.entityLight a.title{
  font-size:17px !important;
  font-weight: 200 !important;
}
.searchEntity.entityLight .tagsContainer span.text-red{
  color:grey !important;
}

.searchEntity.entityLight .textNews{
  max-width: 70%;
  max-height: 150px;
  padding: 0 0 5px 15px;
  overflow: hidden;
  display: inline-table;
  font-weight: 200;
  display: inline-block;
  border-left: 2px solid lightgray;
}

.searchEntity.entityLight .entityLeft{
  /*min-height: 100px;*/
}

.searchEntity.entityLight .entityCenter{
  margin-top: 10px;
  text-align: left;
  /*width:unset;*/
}
.searchEntity.entityLight .entityCenter .iconType i.fa,
.searchEntity.entityLight .entityCenter .container-img-profil{
  margin-right: 10px;
}

.searchEntity.entityLight .entityCenter a.url{
  font-size:12px;
  font-weight:200;
}
.searchEntity.entityLight .entityCenter i.fa{
  font-size:1.2em;
  height:unset;
  width:unset;
  padding:unset;
}
.searchEntity.entityLight .entityCenter .description{
  font-size:13px;
  color: #606060;
  max-height: 150px;
  overflow:hidden;
  display: inline-block;
  margin-top: 4px;
}

.searchEntity.entityLight .container-img-profil{
    border-radius: 100% !important; 
    background-color: inherit !important;
    min-height: inherit !important;
    max-height: inherit !important;
}
.searchEntity.entityLight .container-img-profil .imgEmpty,
.searchEntity.entityLight .container-img-profil .thumbnailProfil > img,
.searchEntity.entityLight .container-img-profil .fa-image{
  width: 50px !important;
  height: 50px !important;
  /* border: 3px solid white; */
  margin-bottom: 0px;
  padding: 0px;
  line-height: 50px;
  background-color: #e7e7e7;
  font-size: 20px !important;
  display: inline-block;
  margin-top: inherit;
}
.searchEntity.entityLight .container-small-profil .fa-image{
  padding-top:11px;
}

.searchEntity.entityLight .container-img-profil .imgEmpty{
  background-color: transparent;
}

.searchEntity.entityLight .btn-tag{
  background-color: white;
  padding:0px;
  margin:0 10px 0 0;
}

.searchEntity.entityLight .countFollower,
.searchEntity.entityLight .countFollows,
.searchEntity.entityLight .countMembers{
  font-size: 10px;
  margin-top: 6px;
}


.event .searchEntity .entityName{
  font-size:20px;
}

.searchEntity .entityRight .entityName{
  font-size:13px;
  line-height: 19px;
  font-weight: 600;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchEntity .entityRight .entityName:hover{
  
}
.searchEntity .entityRight .entityLocality{
  font-size: 10px;
  line-height: 17px;
  font-weight: 600;
  width:100%;
  display: block;
  margin-bottom: 2px;
}
.searchEntity .entityRight .entityDescription{
  font-size: 11px;
  line-height: 17px;
  width: 100%;
  display: block;
  font-weight: 300;
  max-height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.events .searchEntity .entityRight .entityDescription{
  font-size: 13px;
  width:unset;
}

.events .searchEntity .entityRight .entityName{
  margin-top: 5px;
  font-size: 20px !important;
  padding: 5px 0px;
}

.searchEntity .entityRight .entityDate{
  font-size: 12px;
  line-height: 17px;
  margin-right:4px;
  display: inline-block;
  max-height: 205px;
  overflow: hidden;
  text-align: left;
  padding: 2px 9px;
  font-weight: 500;
}

.searchEntity .entityOrganizer{
  border-top: 1px solid rgba(0,0,0,0.2);
  padding:10px 10px 0 10px;
}

.searchEntity .entityOrganizer img{
  margin-right:10px;
  border-radius: 60px
}
.searchEntity .entityOrganizer .entityOrganizerName{
  font-size:14px;
  font-weight: bold;
}

  .searchEntityContainer {
    min-height: 320px;
    max-height: 320px;
    margin-bottom: 25px;
}
  /*.searchEntityContainer{
    min-height: 230px !important;
    max-height: 230px !important;
    margin-bottom: 25px !important;
  }*/
  .searchEntityContainer.surveys{
    min-height: 200px !important;
    max-height: 200px !important;
    margin-bottom: 25px !important;
  }

  .searchEntityContainer.surveys .entityRight{
    max-height: 170px !important;
    overflow: hidden;
  }

  .searchEntityContainer.classified{
    /*min-height: 250px !important;*/
    min-height: 320px;
    max-height: 560px !important;
    margin-bottom: 25px !important;
  }
  .searchEntityContainer.classified .entityName{
    font-size: 19px !important;
    line-height: 21px !important;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 800 !important;
  }

  .searchEntityContainer.classified .entityPrice{
    font-size:17px!important;
    line-height:25px!important;
    text-decoration: bold !important;
  } 
  .searchEntityContainer.classified .entityDescription{
    font-size:15px!important;
    line-height:20px!important;
    max-height: 62px;
    overflow: hidden;
  } 



  .searchEntityContainer.events{
    max-height: 500px!important;
    min-height: unset!important;
    margin-bottom: 45px !important;
  }

  .events .searchEntity{
    background-color: rgba(211, 211, 211, 0.2) !important;
  }
  .searchEntity{
    padding: 0px !important;
    margin: 0px !important;
    margin-left: 0% !important;
    width: 100%;
    box-shadow: 0px 0px 5px -1px #d3d3d3;
  }
  .searchEntity:hover{
    background-color: rgba(211, 211, 211, 0.2) !important;
  }

  .searchEntity .tagsContainer{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .searchEntity .entityDate{
    float: left;
    margin-left: -10px;
    border-radius: 0px 5px 0px 0px;
    padding: 5px 10px;
    font-size: 10px;
    height: 20px;
  }
  .searchEntity .entityDate.dateFrom{
    margin-top: -50px;
  }
  .searchEntity .entityDate.dateTo{
    margin-top: -30px;
    border-radius: 0px;
  }

  .searchEntity button.item-globalscope-checker{
    width:100%;
    border-radius: 0px;
    font-size: 16px;
  }

  
.searchEntityContainer.cities{
  min-height: 95px !important;
  max-height: 95px !important;
}

.searchEntityContainer.cities .searchEntity{
  border-radius:0px;
  moz-box-shadow: 0px 0px 5px -1px #242424;
  -webkit-box-shadow: 0px 0px 5px -1px #242424;
  -o-box-shadow: 0px 0px 5px -1px #242424;
  box-shadow: 0px 0px 5px -1px #242424;
}

.searchEntityContainer.cities .entityName{
  font-size:17px;
}
.searchEntityContainer.cities .entityLocality{
  font-size:14px;
}

.event .searchEntity .entityLocality{
  font-size:13px;
  margin-top:4px;
}
  .bg-orange.transparent{
    background-color: #FFA200B3 !important;
  }
  .bg-purple.transparent{
    background-color: #8C5AA1B3 !important;
  }
  .bg-azure.transparent{
    background-color: #2BB0C6B3 !important;
  }
  .bg-blue.transparent{
    /*background-color: #C5AA1B3,*/
  }

  .row.headerDirectory{
    margin-top: -10px;
    moz-box-shadow: 0px 2px 4px -3px #656565;
    -webkit-box-shadow: 0px 2px 4px -3px #656565;
    -o-box-shadow: 0px 2px 4px -3px #656565;
    box-shadow: 0px 2px 4px -3px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
  }

  .lbl-res-vote{
    border-radius:15px;
    padding: 3px 8px;
  }
  .container-img-profil{
    min-height:150px;
    max-height: 150px;
  }
  /*.container-img-profil, .container-text-profil{*/
  .container-img-banner{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height:100px;
    max-height: 100px;
    
    overflow: hidden;
    background-color: #f3f3f3;
    text-align: center;
  }
  .container-text-profil{
    background-color: white;
    text-align: left;
    padding: 20px 10px;
  }

  .container-img-banner img{
    width:100%;
    height:100px;
    float: left;
  }
  .container-img-banner i.fa{
    margin-top:40px;
    color: white;
  }
  .container-thumbnail-profil{
    /*display: block;*/
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }
.container-img-profil {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    background-color: #e7e7e7;
    text-align: center;
    overflow: hidden;
}
  .container-thumbnail-profil > img,
  .container-thumbnail-profil .fa-image{
    width: auto !important;
    height: auto !important;
    border-radius: 0px !important;
    border: 3px solid white;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #dedede;
    font-size: 28px !important;
    max-width: 100%;
  }


  .events .container-img-profil{
    min-height: 110px;
    max-height: unset;
    margin: 4%;
    width: 92%;
    max-width: 92%;
    border-radius: 0;
  }
  .events .container-img-profil img.img-responsive{
    border-radius:20px;
  }

  .container-thumbnail-profil i.fa {
      font-size: 50px;
      color:rgba(255, 255,255, 0.8);
  }
  .container-img-profil i.fa{
      font-size: 45px;
      color:rgba(255, 255,255, 0.8);
      margin-top: 50px;
  }

  /*  .events .container-img-profil i.fa {
      margin-top: 30px;
    }
    
    .classified .container-img-profil i.fa-image{
      margin-top: 33px;
      font-size: 23px !important;
      color: rgba(255, 255,255, 0.8);
      border: 0;
    }*/

  .container-img-profil img.img-responsive{
    min-height:150px;
    width: 100%;
    float: left;
    border-radius: 3px 3px 0px 0px;
  }

  .lbl-info-search,
  .headerDirectory #bar-tools-search{
    display:none;

  }


/* affichage MIN for favorites*/
.menuSmallBlockUI .imgHover {
    position: absolute;
    width: 98%;
    margin: 0 1%;
    top: 0px;
    left: 0px;
    max-height: 130px;
    min-height: 130px;
    overflow: hidden;
    background-color: white;
}
.menuSmallBlockUI .contentMin {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.menuSmallBlockUI .contentMin .informations{
    margin-top: 15px;
}

.menuSmallBlockUI .imgHover img{
    opacity: 0;
}
.menuSmallBlockUI .searchEntity:hover .imgHover img{
    opacity: 0.4;
}

.menuSmallBlockUI .searchEntityContainer{
    min-height: 140px !important;
    max-height: 140px !important;
}

.menuSmallBlockUI .searchEntity{
  box-shadow: none!important;
}

.menuSmallBlockUI .searchEntity .entityName{
  color:white !important;
}

.menuSmallBlockUI .btn-add-to-directory {
    font-size: 12px!important;
    height: 23px!important;
    border-radius: 0px 0 5px 0!important;
    color: #666!important;
    border: none!important;
    margin-left: -1px!important;
    float: left!important;
    padding: 3px 0px 3px!important;
    width: 24px!important;
    margin-top: 11px!important;
    background-color: #212121 !important;
}

.menuSmallBlockUI .searchEntity .entityRight .entityDescription{
  display: none;
}
/* affichage MIN for favorites*/

.typePoiDir{
  text-transform: capitalize;
}
.typePoiDir hr{
  margin-top: 5px;
  margin-bottom: 8px;
}

.entityLight .btn-share,
.entityLight .followBtn{
  margin-right: 10px;
}/*
.searchEntity.entityLight:hover{
  background-color: #f2f2f2 !important;
}*/
.entityLight:hover .btn-share,
.entityLight:hover .followBtn{
  visibility: visible;
}

.entityLight .gallery{
  max-height: 80px;
  overflow: hidden;
}

.searchEntity.entityLight .container-img-profil.event .thumbnailProfil > img{
  width:130px!important;
  height:unset!important;
  max-width: 130px;
  max-height: 200px;
}

.searchEntity .descMD ul{
  padding:5px 15px;
}

.searchEntity .descMD h1{ font-size:1.4em; text-transform: none; font-weight: 200; }
.searchEntity .descMD h2{ font-size:1.2em; text-transform: none; font-weight: 200; }
.searchEntity .descMD h3{ font-size:1em;   text-transform: none; font-weight: 200; }
.searchEntity .descMD h4{ font-size:0.8em; text-transform: none; font-weight: 200; }
.searchEntity .descMD h5{ font-size:0.7em; text-transform: none; font-weight: 200; }
.searchEntity .descMD h6{ font-size:0.6em; text-transform: none; font-weight: 200; }
.searchEntity .descMD p { font-size:14px;  }

  @media screen and (max-width: 1024px) {
    #menu-directory-type .hidden-sm{
     display:none;
    }

    .searchEntityContainer.classified .entityName{
      font-size:19px!important;
      line-height:19px!important;
    }

    .searchEntityContainer.classified .entityPrice{
      font-size:15px!important;
      line-height:15px!important;
      text-decoration: bold;
    } 
  }

@media screen and (max-width: 767px) {
  .searchEntity{
        /*margin-left: 25px !important;*/
  }
  #searchBarText{
    font-size:13px !important;
    margin-right:-30px;
  }
  .searchEntityContainer{
    max-height: 270px !important;
    min-height: 100px !important;
    margin-bottom: 25px !important;
  }
  /*.btn-add-to-directory {
      position: absolute;
      right: 0px;
      z-index:9px !important;
  }*/


  .searchEntity.entityLight,
  .searchEntity.entityLight:hover{
    /*padding-left:10px!important;*/
  }


  .searchEntity.entityLight .textNews{
    max-width: 65%;
    font-size: 12px;
  }

  .favSectionBtn{
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none!important;
    border:transparent!important;
    border-radius: 0px;
    margin-right: -4px;
    padding: 15px;
    moz-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    -o-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
  }
  .favSectionBtn:hover{
    moz-box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    -o-box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
  }
  .favSectionBtn:active{
    moz-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    -o-box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
    box-shadow: 0px 0px 4px -2px rgb(0, 0, 0);
  }




  .searchEntityContainer.events{
    max-height: unset!important;
    min-height: unset!important;
    margin-bottom: 45px !important;
  }


  .grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .btn-params-directory{
    font-size: 14px;
    /*border: 1px solid rgba(188, 185, 185, 0.69);*/
    margin-right: 6px;
    padding: 4px 2px;
    position: absolute;
    right: 10px;
  }

  .contactPanelHtml{
    max-height: 350px !important;
    min-height: 150px !important;
    margin-bottom: 15px !important;
  }


  .contactPanelHtml .panel-heading{
    min-height: 110px
  }
  /*
  .coopPanelHtml{
    background-color: #d5eced;
    border-radius: 10px;
    cursor: pointer;
  }
  .coopPanelHtml:hover{
    background-color: #ccdfe0!important;
  }*/




  .rolesContainer{
    padding: 5px 0px; 
  }

}


.favElBtn, .favAllBtn{
  padding: 5px 8px;
  font-weight: 300;
  margin-bottom:5px;
}
#searchBarTextJS{
  margin-bottom: 15px;
}
.btn-open-filliaire{
  font-weight: 700;
  text-transform: uppercase;
}
#col-btn-type-directory hr{
  border-top: 1px solid #f5f1f1;
  width: 70%;
  float: right;
}
#col-btn-type-directory .btn-directory-type,
#sub-menu-left .btn-select-type-anc{
  /*margin-bottom:5px;*/
  width:100%;
  text-align: right;
  line-height: 20px;
  vertical-align: text-bottom;
  /*font-weight: 700;*/
  color: grey;
  text-transform: uppercase;
  background-color: transparent;
}
.btn-directory-type{
      /*width: 100%;*/
    text-align: left;
    background-color: white;
    /*padding-right: 15px !important;*/
  border-radius: 0px;
  border: 0px;
}
.btn-directory-type:focus{
  outline: inherit !important;
}
.btn-directory-type:hover{
  /*padding-right: 10px !important;*/
  /*border: 2px solid;
  background-color: white !important;*/
  /*margin-right:-3px!important;*/
  box-shadow: none !important;
  font-weight: bold !important;
}
.btn-directory-type.active, .btn-directory-type:hover{
  color:white !important;
}
/*.btn-directory-type .count-badge-filter{
  color: white;
}*/
/*.btn-directory-type:hover .count-badge-filter, .btn-directory-type.active .count-badge-filter{
  color: inherit;
}*/
.btn-directory-type.text-yellow.active, .btn-directory-type.text-yellow:hover{
  background-color: #FFC600 !important;
}
.btn-directory-type.text-green.active, .btn-directory-type.text-green:hover{
  background-color: #93C020 !important;
}
.btn-directory-type.text-green-k.active, .btn-directory-type.text-green-k:hover{
  background-color: #34a853 !important;
}
.btn-directory-type.text-orange.active, .btn-directory-type.text-orange:hover{
  background-color: #FFA200 !important;
}
.btn-directory-type.text-purple.active, .btn-directory-type.text-purple:hover{
  background-color: #976BB6 !important;
}
.btn-directory-type.text-azure.active, .btn-directory-type.text-azure:hover{
  background-color: #2BB0C6 !important;
}
.btn-directory-type.text-green-poi.active, .btn-directory-type.text-green-poi:hover{
  background-color: #20C06B !important;
}
.btn-directory-type.text-red.active, .btn-directory-type.text-red:hover{
  background-color: #e6344d !important;
}
.btn-directory-type.text-turq.active, .btn-directory-type.text-turq:hover{
  background-color: #229296 !important;
}
.btn-directory-type .label-filter{
  max-width: 90%;
  font-size: 16px;
  font-variant: small-caps;
  vertical-align: middle;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.open-type-filter{
  display:none;
}
@media (max-width: 768px) {
  .open-type-filter{
    display: block;
    position: absolute;
    right: -17px;
    height: 32px;
    width: 33px;
    border: 1px solid #dadada;
    border-radius: 100%;
    text-align: right;
    padding-right: 4px;
    z-index: -1;
    font-size: 9px;
  }
  #col-btn-type-directory .btn-directory-type, #sub-menu-left .btn-select-type-anc{
    background-color: white;
  }
  #col-btn-type-directory, #sub-menu-left{
    position: fixed;
    width: 56%;
    left: -56%;
    background-color: white;
    /*top: 0px;*/
    top: 235px; 
    z-index: 300;
    padding: 0px;
    -webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,.2);
    box-shadow: 0px 2px 6px -1px rgba(0,0,0,.2);
  }

  #sub-menu-left.subsub .btn {
    width: 100% !important;
    /*background-color: white !important;*/
    margin: 0px !important;
    border-radius: 0px;
  }

  #col-btn-type-directory.affix, #sub-menu-left.affix{
    top: 130px;
  }
  #dropdown_search .entityLight{
    padding-left: 15px !important;
  }
}

  @media (min-width: 769px) {
    #col-btn-type-directory, #sub-menu-left {
      left:inherit !important;
    }

    #col-btn-type-directory.affix, #sub-menu-left.affix{
      top: 130px;
      left: 5% !important;
    }
  }




#sub-menu-left.subsub .btn{
  width:95%;    
  text-align: right;
  background-color: white;
    border-color: white;
  color:#4285f4;
}
#sub-menu-left.subsub{
 /* min-width: 180px;*/
}

.btn-menu-left-add{
  background-color: transparent !important;
    border-color: transparent !important;
}

#photoAddNews{
  text-align: left;
}

.tagstags, .form-actions{
  /*display: none!important;*/
}
.count-badge-filter{
    line-height: 22px;
    vertical-align: bottom;
    /* padding-left: 10px; */
    font-size: 16px;
    padding: 2px 20px;
    /* border-radius: 10px; */
}
.btn-news-type-filters.dropDesign, .btn-directory-type.dropDesign{
  background-color: white !important;
  color: #2C3E50;
  border-radius: 0px !important;
  max-width: inherit;
  text-align: left;
  border:transparent;
}

.btn-news-type-filters.dropDesign:hover, .btn-directory-type.dropDesign:hover,
.btn-news-type-filters.dropDesign:focus, .btn-directory-type.dropDesign:focus,
.btn-news-type-filters.dropDesign.active:focus,.btn-directory-type.dropDesign.active:focus{
  /*color:#2BB0C6 !important;
  border: 2px dashed #2BB0C6!important;*/
  background-color: #eee !important;
  border: 0px !important;
  font-weight: bold;
  color:#2C3E50 !important;  
}
.btn-news-type-filters.dropDesign:active, .btn-directory-type.dropDesign:active,
.btn-news-type-filters.dropDesign:active:hover, .btn-directory-type.dropDesign:active:hover,
.btn-news-type-filters.dropDesign.active, .btn-directory-type.dropDesign.active{
  color:#2BB0C6 !important;
  border: 0px !important;
  box-shadow: none;
}
.btn-element-panel-link.disabled{
  opacity: inherit !important;
}
.btn-tags-unik{
    margin-top: 5px;
    border-radius:3px;
    color: white;
}
.btn-tags-unik:hover{
    color:white;
    text-decoration: none;
}
.btn-tags-unik.active{
    background-color: white;
    color: red;
}
@media (max-width: 768px) {
  .btn-select-type-anc.col-xs-5{
    width:48%!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-select-type-anc.col-xs-5{
    font-size:0.8em;
  }
}
.headerSearchContainer{
  min-height: 30px;
  padding-top: 5px !important;
}  
.searchEntity.active{
    -webkit-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.5);
    /* border: 2px solid white; */
    zoom: 1.05;
}
@media (min-width: 768px) {
  .main-container.vertical .headerSearchContainer.affix{
    z-index: 10;
    left: 53px;
    right: 0px !important;
    width: initial !important;
    background-color: rgb(252, 252, 252) !important;
    box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.5);
  }
  .main-container.vertical .headerSearchContainer.affix > div{
    margin-bottom: 0px !important;
  }
  .main-container.vertical .headerSearchContainer.affix .headerSearchTools{
    padding: 4px 0px !important;
  }
}
@media (max-width: 767px) {
  .main-container.vertical .headerSearchContainer.affix{
    position: initial !important;
  }
}
.checkbox-info{
  font-size:20px;
}
/* END ZOOM HOVER*/
.checkbox-filter {
  padding: 1px 5px 0px 0px;
}
.checkbox-filter label {
    margin-bottom: 0px;
    vertical-align: bottom;
    font-size: 11px;
}
.checkbox-filter .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 100%;
}


.checkbox-filter .cr .cr-icon
{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.btn-select-category .checkbox-filter .cr .cr-icon, .keycat .checkbox-filter .cr .cr-icon
{
    top: 50%;
    left: 20%;
}

.checkbox-filter label input[type="checkbox"]
 {
    display: none;
}

.checkbox-filter label input[type="checkbox"] + .cr > .cr-icon
 {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.dropDesign:active:focus .checkbox-filter label input[type="checkbox"] + .cr > .cr-icon,
.dropDesign.active .checkbox-filter label input[type="checkbox"] + .cr > .cr-icon
 {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.dropDesign:active:focus .checkbox-filter label input[type="checkbox"] + .cr,
.dropDesign.active .checkbox-filter label input[type="checkbox"] + .cr{
  /*background-color: #2BB0C6;*/
  color:#2BB0C6;
  box-shadow: 0px 0px 16px rgba(250,250,250,0.9);
  /*border: 1px solid white;*/
}
.checkbox-filter label input[type="checkbox"]:disabled + .cr
{
    opacity: .5;
}
.share-co-btn{
  width: 100%;
  border-radius:5px;
  margin-bottom: 5px;
  padding: 10px 0px; 
  border: none;
}

.share-co-btn.co-btn{
  border: 1px solid lightgray;
  background-color: white;
  display: block !important;
  padding: 5px 0px;
}
.share-co-btn.facebook-btn{
  background-color: #3b5898;
  color: white;
}

.share-co-btn.twitter-btn{
  background-color: #5eaade;
  color: white;
}
.vote-counter-entity i {
  margin-right: 3px;
}

.vote-counter-entity {
  display: inline-flex;
  line-height: 18px;
}