td{padding:5px;}
	.panel-lines {
		padding:10px;

	}
	td, tr{
		text-align: center;
		text-align: -moz-center;
		text-align: -webkit-center;
	}
	#notifications-settings .toggle{
		float:right;
		min-height: inherit;
	    min-width: inherit;
	    width: 55px !important;
	    height: 25px !important;
	    margin-top: 5px;
	}
	.btn-show-block{
		font-size: 18px;
		font-weight: 700;
		line-height: 40px;
		cursor: pointer;
	}
	.contain-section-params:not(:first-child) .btn-show-block{
		border-top:1px solid rgba(244,244,244,0.8);  
	}
	.btn-show-block:hover{
		background-color: rgba(244,244,244,0.64);
	}
	.btn-show-block:hover, .btn-show-block:focus{
		text-decoration: none;
	}
	.btn-show-block span{
		vertical-align: sub;
	}
	.btn-show-block .hover-line{
		font-weight:inherit;
		font-size: 12px;
	}
	.btn-show-block:hover .hover-line{
		vertical-align: sub;
		text-decoration: underline !important;
	}
	.show-block{
		display: none;
	}
	.show-block i{
		width: 20px;
    	text-align: center;
    	font-size: 16px;
	}
	.show-block label{
		font-size: 14px;
    	line-height: 34px;
    	font-weight: normal;
    	margin-bottom: inherit;
	}
	.show-block .notification-label{
		line-height: 20px;
		margin-top: 5px;
	}
	.show-block .notification-label:hover{
		background-color: rgba(244,244,244,0.3);
    	border-radius: 2px;
	}
	.show-block .bootstrap-switch{
		height: 25px !important;
    	line-height: 10px !important;
    	min-width: 75px !important;
    	float:right;
    	margin-top: 5px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-on{
		background-color: #5cb85c !important;
		height: 23px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-off{
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		background-color: #e6e6e6 !important;
		height: 23px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-off:hover{
		background-color: #d4d4d4 !important;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-on:hover{
		background-color: #449d44 !important;
	}
	.show-block .bootstrap-switch .bootstrap-switch-label{
		background-color: white !important;
		height: 25px;
    	vertical-align: super;
	}
	.settings-header{
		border-bottom: 1px solid #e5e5e5;
	}
	/*.settingsHeader{
		position: fixed;
	    top: 60px;
	    z-index: 100;
	    right: 5px;
    	left: 25%;
	}*/
	.scroll-container{
		background-color: white !important;
		border:none !important;
		margin-bottom: none !important;
	}
	/*#community-settings{
		margin-top: 133px !important;
	}*/
	.link-docs-menu{
		font-size: 23px;
		font-weight: bold;
		background-color: white;
		border-radius: 3px;
	}
	.link-docs-menu.active{
		color:white;
    	background-color: #e6344d !important;
	}
	.settingsHeader .btn-scroll-type, .settingsHeader #btnSettingsInfos{
		font-size: 18px;
    	font-variant: small-caps;
    	padding: 10px 20px;
	}
	#search-in-settings{
		border-radius: 0px;
	}
	.notification-label-communtiy .thumb-send-to {
	    border-radius: 50%;
	    padding: 3px;
	    margin-top: 7px;
	}
	/*#modalExplainSettings, #modal-confidentiality{
		top: 60px !important;
	}*/
	#modalExplainSettings, #modal-confidentiality{
		z-index: 150000;
		background-color: rgba(0,0,0,0.4);
	}
	@media (max-width: 991px) {
	  .settingsHeader{
	     left: 0px;
		} 
	}
	/*@media (min-width: 991px) {
		#modalExplainSettings, #modal-confidentiality{
			left: 25% !important;
		}
	}*/

	.sub-cat{
		padding-left: 30px;
	}