<h1 style="text-align: center;">Mise &agrave; jour en cours...</h1>
<p style="text-align: center;">Merci de revenir dans quelques minutes</p>
<img src="/assets/img/LOGOS/logo-head-search.png" height="60" class="inline">
<!-- <h1 style="text-align: center;">D&eacute;mocratie est en cours de mise &agrave; jour...</h1> -->
